html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.filterBtnHover:hover {
    background: #DDDDDD;
    box-shadow: black 1px 1px;
}

.dropdown-menu-large{
    width: 300px;
}

/*fas{
    border: none;
}*/