
@{  
    ViewData["Title"] = "Adopter un animal";
    //List<SelectListItem> pays = (List<SelectListItem>)ViewData["pays"];
    //List<SelectListItem> villes = (List<SelectListItem>)ViewData["villes"];
}

<div style="background-color:lightblue;">
    <div class="text-left">
        <h1 class="display-4">Adopter un Animal</h1>
    </div>
</div>