@model User
@{
    User currentUser = Model;
    ViewData["Title"] = $"Menu de {Model.titre}. {Model.nom}  {Model.prenom}";
}

<div class="text-center">
    <br />
    <h2 class="display-5">BAND APA</h2>
     <br/>
    <h3 class="display-5">Menu Principal</h3>
</div>
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav d-flex justify-content-end">
                <li class="nav-item btn-sm">
                    <a class="nav-link text-light btn btn-primary p-1" asp-area="" asp-controller="Animal" asp-action="Index">Adoter un animal</a>
                </li>
            </ul>
            <ul class="navbar-nav d-flex justify-content-end">
                <li class="nav-item btn-sm">
                    <a class="nav-link text-light btn btn-primary p-1 " asp-area="" asp-controller="User" asp-action="Index">Profil</a>
                </li>
            </ul>
        </div>
    </div>
</nav>